# Entornos virtuales
venv/
env/
.venv/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de entorno
.env

# Archivos de bases de datos locales
*.sqlite3
*.db

# Caché de pruebas
.pytest_cache/

# Carpetas de distribución/build
build/
dist/
*.egg-info/

# Archivos de IDE/editors
.vscode/
.idea/

# Archivos del SO
.DS_Store
Thumbs.db