<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" as="style">
    <title>SIFT</title>
</head>

<body class="container">
    <div id="loading-camera" class="message-hide">
        <p>Encendiendo camara...</p>
    </div>
    <header class="header">
        <div class="header--tittle--container">
            <h1>SIFT</h1>
            <div class="header--content--image">
                <img src="{{ url_for('static', filename='img/Header.webp') }}" alt="Image_header">
            </div>
        </div>
        <nav class="header--nav">
            <a class="header--nav--a active" href="{{ url_for('htmlRoutes.index') }}">LBP</a>
            <a class="header--nav--a active" href="{{ url_for('htmlRoutes.sift') }}">SIFT</a>
        </nav>
    </header>
    <main class="main">
        <div class="cont--controllers">
            <div class="cont--buttons">
                <form id="form_ip">
                    <p>Ip actual</p>
                    <p>{{ localIp }}</p>
                </form>
                <button id="btMobile">
                    <p> Ver video con el celular </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z" />
                        <path d="M11 4h2" />
                        <path d="M12 17v.01" />
                    </svg>
                </button>
                <button id="btLocal">
                    <p> Ver video Local </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                        stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M10 15h-6a1 1 0 0 1 -1 -1v-8a1 1 0 0 1 1 -1h6" />
                        <path d="M13 4m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z" />
                        <path d="M7 19l3 0" />
                        <path d="M17 8l0 .01" />
                        <path d="M17 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                        <path d="M9 15l0 4" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="cont--steaming">
            <img id="streaming_image" class="streaming" src="{{ url_for('static', filename='img/selectImage.jpg') }}"
                alt="Video_streaming">
        </div>
    </main>
    <footer>
        <p>Práctica Vision del computador P66</p>
    </footer>
    <script src="{{ url_for('static', filename='js/sift.js') }}"></script>
</body>

</html>